.container {
	margin-top: 27px;
}

.mainfeature {
	margin-left: 30px;
	margin-top: 30px;

}
.features {
	border: 1px solid #ccc;
	width: 373px;
	height: 223px;
	font-family: Verdana;
	color:#666;
	font-size: 16px;

}
li {
    padding-bottom:10px;
	margin-left: 30px;
    
}
.featurelists {
    padding-top:15px;
   
}
.title {
	color:#666;
	padding-bottom: 10px;
	font-family: Verdana;
	font-size: 48px;

}
.subtitle {
	color:#f07c17;
	font-size: 24px;
	font-weight: bold;
	font-family: Verdana;
	margin-bottom: 27px;

}
.udacitymug {
	height: 373px;
	margin-bottom: 35px;
	margin-top: 5px;

}
.slogan {
    margin-top:10px;
}
.text {
	font-family: Verdana;
	color:#666;
	line-height: 2.0;
	font-size: 16px;

}